<form action="/doLogin" method="post">
    <div class="row mt-5">
        <div class="col-8 offset-2">
            <h2 class="text-center">Δώστε τα στοιχεία του νέου item...</h2>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-6 offset-3">
            <div class="form-floating">
              <label class="form-label" for="itemname">New Item Name</label>
                <input type="text" class="form-control"
                    value="{{itemname}}" name="itemname" id="itemname" placeholder="New Item Name"
                    required="required" autofocus>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <div class="form-floating">
                <label class="form-label" for="description">New Item Description</label>
                <textarea type="discription" class="form-control"
                    value="{{discription}}" name="discription" id="discription" placeholder="Discription"
                    rows="4" cols="50"> </textarea>               
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <label class="form-label" for="price">Price</label>
            <input type="price" class="form-control" 
                value="{{price}}" name="price" id="price" placeholder="Price">
        </div>
    

    </div>
    <div class="row mt-7">
        <div class="col-6 offset-3">
            <button type="submit" class="btn btn-primary login-btn btn-block w-100">Submit</button>
        </div>
    </div>
   
</form>