<div id="home">
    <div class="d-flex justify-content-center">
        <div class="container-sm m-5 p-5 align-items-center justify-content-center rounded-3"
            style=" background-color: #c7e3c2; max-width:600px;  box-shadow: 4px 3px 7px 2px #00000040;">
            <div class="landing-text pb-sm-3 mb-sm-4 ">
                <h2>Change your password</h2>
            </div>
            <div class="container d-flex align-items-center justify-content-center signup-form">
                <form action="/doPasswordChange" method="post" class="needs-validation">
                    
                   
                     <div class="col-sm form-floating mb-3">
                        <input type="password" class="form-control {{#if message.password}} is-invalid {{/if}}"
                            value="{{newpassword}}" name="newpassword" id="password" placeholder="Συνθηματικό"
                            required="required">
                        <label class="form-label" for="password">New Password</label>
                        <div class="invalid-feedback">{{message.username.msg}}</div>
                    </div>
                    <div class="col-sm form-floating mb-3">
                        <input type="password" class="form-control {{#if message.password}} is-invalid {{/if}}"
                            value="{{newpasswordconfirm}}" name="password" id="password" placeholder="Συνθηματικό"
                            required="required">
                        <label class="form-label" for="newpassword">Confirm New Password</label>
                        <div class="invalid-feedback">{{message.username.msg}}</div>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg pb-sm-3 mb-3">Change password</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validatePassword() {
        var newpassword = document.getElementById("newpassword").value;
        var newpasswordconfirm = document.getElementById("newpasswordconfirm").value;

        if (newpassword !== newpasswordconfirm) {
            alert("Passwords do not match");
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }
</script>