    {{#if message}}<div class="row ">
        <div class="col-6 offset-3">
            <div class="alert alert-primary" role="alert">
                {{message}}
            </div>
        </div>
    </div>
    {{/if}}
   