{{!-- <h1>{{restaurantName}}</h1> --}}
{{#each menus}}
<h2>Menu Type: <a href="/restaurants/menu/menuItems/{{Menu_Id}}">{{Type}}</a></h2>
{{/each}}



 <a href="/restaurants/Allmenus/{{Restaurant_Id}}" class="btn btn-outline-dark">Show All Menus</a>