<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reserveEat</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <!-- My CSS -->
  <link href="/Public/css/style.css" rel="stylesheet" />
  <link href="/Public/css/cont_style.css" rel="stylesheet" />
  <link href="/Public/css/calender.css" rel="stylesheet" />

</head>

<body id="home">

  <nav class="user_nav navbar navbar-expand-lg navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">researveEat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="nav-link active" aria-current="page" href="/Views/adminMain.html">Main</a>
                <li class="nav-item">
                </li>
                <a class="nav-link" aria-current="page" href="/Views/menu.html">Menu</a>
                <li class="nav-item">
                </li>
            </ul>
        </div>
        <div class="ms-auto">
            <div class="dropdown">
                <a class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" href="#"
                    id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                        alt="user-profile" width="30" height="30" class="rounded-circle me-2">
                    <span class="text-white ms-2">restaurant</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/Views/adminProfile.html">My Profile</a></li>
                    <li><a class="dropdown-item" href="#">Restaurant details</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                    <li><a class="dropdown-item" href="/Views/signin.html">Switch Accounts</a></li>
                </ul>
            </div>
        </div>
    </div>

</nav>


  <div class="container cont_style p-5">
    <h1 class="mt-5">Profile Page</h1>
    <div class="row mt-5">
      <div class="col-md-6 align-content-center d-flex justify-content-center">
        <img
          src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
          alt="Profile Picture" class="img-fluid profile-picture">
      </div>
      <div class="col-md-6">
        <a href="#" class="btn btn-outline-secondary mb-5">Edit profile</a>
        <h2>Username</h2>

        <p>Location</p>
        <div class="col-md-8 profile-link"><a href="#" class="link-dark pb-3">Staff</a></div>
        <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">Restaurant reviews</a></div>
        <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">Restaurant reservations</a></div>
        <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">Pay history details</a></div>
        <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">employee management</a></div>
        <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">Restaurant status</a></div>
        <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">Menu Leaderboard</a></div>
      </div>
    </div>
    <div class="row mt-5">
      <h3 class="col-6 d-flex justify-content-center">Pending reservations</h3>
      <div class="row mt-5">
        <div class="col-6 align-content-center d-flex justify-content-center">
          <div class="calendar">
            <table>
              <thead>
                <tr>
                  <th colspan="7">September 2023</th>
                </tr>
                <tr>
                  <th>Sun</th>
                  <th>Mon</th>
                  <th>Tue</th>
                  <th>Wed</th>
                  <th>Thu</th>
                  <th>Fri</th>
                  <th>Sat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="disabled">29</td>
                  <td class="disabled">30</td>
                  <td>31</td>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
                  <td>15</td>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                </tr>
                <tr>
                  <td>19</td>
                  <td>20</td>
                  <td>21</td>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
                  <td>29</td>
                  <td>30</td>
                  <td class="disabled">1</td>
                  <td class="disabled">2</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-6 align-content-center d-flex justify-content-center">
          <div class=" vstack gap-0 col-md-7 mx-auto">
            <div class="row">
              <div class="col-md-5 mx-auto text-center pb-1 ">
                <p>My reviews</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <div class="card h-50">
                  <div class="row g-0 ">
                    <div class="col-md-4 ">
                      <img
                        src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                        class="img-fluid rounded-circle  h-50" alt="...">
                    </div>
                    <div class="col-md-8 h-50">
                      <div class="card-body d-flex flex-column">
                        <h5 class="card-title">rewiew id</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col">
                <div class="card h-50">
                  <div class="row g-0 ">
                    <div class="col-md-4 ">
                      <img
                        src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                        class="img-fluid rounded-circle  h-50" alt="...">
                    </div>
                    <div class="col-md-8 h-50">
                      <div class="card-body d-flex flex-column">
                        <h5 class="card-title">rewiew id</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><div class="row justify-content-center">
              <div class="col">
                <div class="card h-50">
                  <div class="row g-0 ">
                    <div class="col-md-4 ">
                      <img
                        src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                        class="img-fluid rounded-circle  h-50" alt="...">
                    </div>
                    <div class="col-md-8 h-50">
                      <div class="card-body d-flex flex-column">
                        <h5 class="card-title">rewiew id</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>