<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reserveEat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="startingpage.css" rel="stylesheet" />
    <link href="login.css" rel="stylesheet" />

</head>

<body id="home">

    <div class="container mt-5 mb-5 d-flex align-items-center justify-content-center">
        <h1>Restaurant Table Booking</h1>
    </div>
    <div class="container d-flex align-items-center justify-content-center signup-form">
        <form action="/action_page.php" class="needs-validation">
            <div class="col-lg form-floating mb-3">
                <input type="text" class="form-control" id="NameInput" placeholder="Username" required>
                <label for="NameInput">Username</label>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="col-sm form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                <label for="floatingInput">Email address</label>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="col-sm form-floating mb-3">
                <input type="number" class="form-control" id="table-type" placeholder="Enter the amount of people in your reservation">
                <label for="table-type">Party-size:</label>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="col-sm form-floating mb-3">
                <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
                <label for="phone">Phone number</label>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="col-sm form-floating mb-3">
                <input type="date" class="form-control" id="date" placeholder="Enter Date">
                <label for="date">Date:</label>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="col-sm form-floating mb-3">

                <input type="time" class="form-control" id="time" placeholder="Enter Time">
                <label for="time">Time:</label>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="col-sm mb-sm-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Log in</button>


            <div class="container mt-5 d-flex align-items-center justify-content-center "></div>
            <label for="template">Table Template:</label>
            <div class="table-templates ">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/150" alt="Table Template" class="img-fluid">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="table-template" id="table-template1"
                                value="table-template1">
                            <label class="form-check-label" for="table-template1">Table Template 1</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/150" alt="Table Template" class="img-fluid">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="table-template" id="table-template2"
                                value="table-template2">
                            <label class="form-check-label" for="table-template2">Table Template 2</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="https://via.placeholder.com/150" alt="Table Template" class="img-fluid">
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="table-template" id="table-template3"
                                value="table-template3">
                            <label class="form-check-label" for="table-template3">Table Template 3</label>
                        </div>
                    </div>
                </div>
            </div>
    
    </form>
</div>

    <footer class="container-fluid text-center bg-dark">
        <div class="row">
            <div class="col-sm-6">
                <h3>Contact Us</h3><br>
                <h4>Our contact info :</h4>
            </div>
            <div class="col-sm-6">
                <h3>Connect</h3><br>
                <a class="fa fa-facebook-official"></a>
                <a class="fa fa-linkedin-square"></a>
                <a class="fa fa-github" href="https://github.com/smaragdatsanai/restaurantSupportApp"></a>
            </div>
        </div>
    </footer>
</body>

</html>