<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reserveEat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- My CSS -->
    <link href="startingpage.css" rel="stylesheet" />
    <link href="card_carousel.css" rel="stylesheet" />

</head>

<body id="home">
    <nav class="user_nav navbar navbar-expand-lg navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">researveEat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <a class="nav-link active" aria-current="page" href="/Views/mainpage.html" >Main</a>
                    <li class="nav-item">
                    </li>
                    <a class="nav-link" aria-current="page" href="#">My profile</a>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">My inventory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Find friends</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


    <div id="carouselControls" class="carousel slide carousel-dark cont_style py-md-2" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="cont_header pb-3 "> Our top restaurants</div>
          <div class="carousel-item active">
            <div class="card-group">
                <div class="card">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">1</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-group">
                <div class="card">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">1</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-group">
                <div class="card">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">1</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card d-none d-md-block">
                    <img src="/Views/img/empty.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>



    <div class="padding">
        <form class="d-flex mx-sm-5 px-sm-5">
            <input class="form-control me-2" type="search" placeholder="Search restaurant by name or place"
                aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

    


    <div class="padding">
        <div class="container cont_style  justify-content-center p-5  ">
            <div class="cont_header pb-3 ">All restaurants</div>
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="/Views/img/empty.jpg" class="img-fluid rounded-start" alt="/Views/img/empty.jpg">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="/Views/img/empty.jpg" class="img-fluid rounded-start" alt="/Views/img/empty.jpg">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="/Views/img/empty.jpg" class="img-fluid rounded-start" alt="/Views/img/empty.jpg">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center bg-dark ">
        <div class="row">
            <div class="col-sm-6">
                <h3>Contact Us</h3><br>
                <h4>Our contact info :</h4>
            </div>
            <div class="col-sm-6">
                <h3>Connect</h3><br>
                <a class="fa fa-facebook-official"></a>
                <a class="fa fa-linkedin-square"></a>
                <a class="fa fa-github" href="https://github.com/smaragdatsanai/restaurantSupportApp"></a>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>

</html>