<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reserveEat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="startingpage.css" rel="stylesheet" />
    <link href="login.css" rel="stylesheet" />

</head>

<body>
   
    <nav class="navbar navbar-expand-lg navbar sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">researveEat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/startingpage.html">Home</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">About us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/register.html">Register</a></li>
                            <li><a class="dropdown-item active" href="#">Sign In</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Browse as Guest</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="home">
        <div class="landing-text ">

            <h1>Welcome to reserveEat</h1>
            <h2>Create an account</h2>
            <div class="container d-flex align-items-center justify-content-center signup-form">
                <form action="/action_page.php" class="needs-validation">
                    <div class="col-lg form-floating mb-3">
                        <input type="text" class="form-control" id="userNameInput" placeholder="Username" required>
                        <label for="userNameInput">Username</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-sm form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                            required>
                        <label for="floatingInput">Email address</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-sm form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                            required>
                        <label for="floatingPassword">Password</label>
                        <div class="valid-feedback">Valid.</div>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-sm mb-sm-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg">Log in</button>
                </form>
            </div>
            <a href="/register.html" style="color: black; ">Click here if you dont have an acount</a>
        </div>
    </div>



    <footer class="container-fluid text-center bg-dark">
        <div class="row">
            <div class="col-sm-6">
                <h3>Contact Us</h3><br>
                <h4>Our contact info :</h4>
            </div>
            <div class="col-sm-6">
                <h3>Connect</h3><br>
                <a class="fa fa-facebook-official"></a>
                <a class="fa fa-linkedin-square"></a>
                <a class="fa fa-github" href="https://github.com/smaragdatsanai/restaurantSupportApp"></a>
            </div>
        </div>
    </footer>
    
    <!-- <script>
        console.log(process.env.MY_PROJECT_PATH);
    </script> -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>